<html lang="zh-CN">
{% include 'top.html' with mytitle='index_of_interface' %}
{% if interface_list %}
    <table>
		<tr>
        <th>ID</th>
		<th>Device_name</th>
		<th>Device_IP</th>
		</tr>
	{% for interface in interface_list %}
		<tr>
        <td>{{interface.id}}</td>
		<td>{{interface.iDevice.hostname}}</td>   <!--Cuijunshi Note 2018-10-29 Template test for list and foreign key -->
		<td>{{interface.iName}}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% include 'bottom.html' %}
</html>